.home {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  p.centrado {
      text-align: center;
    } 
    .input-css{
      position: relative;
      width: 250;
      height: 400;
      max-width: 100%; 
      box-sizing: border-box;
      margin: 1px auto;
      border: 3px solid #3366ff;
      border-radius: 5px;
      font-size: 13px;
      font-family: "Open Sans";
      }
      .input-css:hover {
        border-color:#787878;
      }
      
      
  .contenedor2{
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }